<div class="container" ng-controller="multimediaController">
    <!-- MENU BUTTONS -->
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm" ng-click="getVideos()">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;Videos
        </button>
        <button class="btn btn-primary btn-sm" ng-click="getImages()">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;Images
        </button>
        <button class="btn btn-primary btn-sm" ng-click="getBooks()">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Books
        </button>
        <button class="btn btn-primary btn-sm" ng-click="getMusic()">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;Music
        </button>
        <button class="btn btn-primary btn-sm" ng-click="getOthers()">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;Other
        </button>
        <button class="btn btn-default btn-sm" ng-click="getAll()">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;&nbsp;All
        </button>
        <hr />
    </div>
    <!-- /MENU BUTTONS -->


    <!-- MULTIMEDIA LIST -->
    <div class="col-md-6" ng-cloak>
        <div class="col-md-12">
            <button class="btn btn-info btn-sm" disabled>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;Show cloudinary files
            </button>
            <!-- New Video -->
            <button class="btn btn-success btn-sm" ng-click="enableForm()">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;&nbsp;Upload file
            </button>
        </div>

        <div class="col-md-12">
            <hr />

            <h4>
                <span class="label label-primary">{{mcontent.type}} List </span>
                &nbsp;
                <span class="label label-info" ng-hide="loading">{{ docs.length }} elements</span>
                &nbsp;
                <span class="label label-default" ng-show="loading">Processing...</span>
            </h4>

            <div class="row">
                <div class="col-xs-8">
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
                <div class="col-xs-4">
                    <label for="search">items per page:</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>

            <hr />

            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="4%">&nbsp;</th>
                        <th width="4%">&nbsp;</th>
                        <th width="5%">
                            <a href="#" ng-click="orderByField='type'; reverseSort = !reverseSort">
                                Type
                                <span ng-show="orderByField == 'type'">
                                    <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                                    <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>
                                </span>
                            </a>
                        </th>
                        <th width="25%">
                            <a href="#" ng-click="orderByField='tags'; reverseSort = !reverseSort">
                                Tags
                                <span ng-show="orderByField == 'tags'">
                                    <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                                    <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>
                                </span>
                            </a>
                        </th>
                        <th width="62%">
                            <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
                                Name / Id
                                <span ng-show="orderByField == 'name'">
                                    <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
                                    <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="doc in docs | orderBy:orderByField:reverseSort | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="showDocumentData(doc._id)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-xs" confirmed-click="deleteDocument(doc._id)"
                                    ng-confirm-box-click="Are you sure want to delete {{ doc.name }}?">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>{{ doc.type }}</td>
                        <td>{{ doc.tags }}</td>
                        <td>
                            <a ng-href="{{ doc.url }}" target="_blank">{{ doc.name }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-warning" ng-show="(docs | filter:q).length==0">
                -No results found-
            </div>

            <table class="table table-striped table-condensed table-hover">
                <tfoot>
                    <dir-pagination-controls boundary-links="true"
                                             template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
                </tfoot>
            </table>
            <hr />
        </div>
    </div>
    <!-- /MULTIMEDIA LIST -->


    <!-- MULTIMEDIA FORM  -->
    <div class="col-md-6" ng-show="user.rol=='admin' && formEnabled">
        <div class="col-md-12">
            <button class="btn btn-success btn-sm" ng-click="createDocument()" ng-show="new_doc">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Save
            </button>
            <button class="btn btn-primary btn-sm" ng-click="updateDocument()" ng-hide="new_doc">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Update
            </button>

            <button class="btn btn-danger btn-sm" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Cancel
            </button>

            <button class="btn btn-default btn-sm" ng-click="clearForm()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Clear
            </button>
        </div>

        <div class="col-md-12">
            <hr />

            <h4>
                <span class="label label-primary">Document's Form</span>
            </h4>

            <!--Form: add new content to app -->
            <div id="users-form" class="row">
                <div class="text-left">
                    <form>
                        <div class="form-group">
                            <!-- NAME -->
                            <input type="text" class="form-control input-lg text-left"
                                   placeholder="document name or id / no spaces" ng-model="formDataMedia.name"/>
                            <!-- DESCRIPTION -->
                            <textarea class="form-control input-lg text-left"
                                   placeholder="description" ng-model="formDataMedia.desc"/>
                            <!-- URL -->
                            <input type="text" class="form-control input-lg text-left"
                                   placeholder="load from url ..." ng-model="formDataMedia.url"/>
                            <!-- TYPE -->
                            <select name="type" id="storedSelect"
                                    class="form-control input-lg text-left" ng-model="formDataMedia.type">
                                <option value="">---Please select type---</option>
                                <option value="video">video</option>
                                <option value="music">music</option>
                                <option value="image">image</option>
                                <option value="book">e-book</option>
                                <option value="other" disabled>other</option>
                            </select>
                            <!-- TAGS -->
                            <input type="text" class="form-control input-lg text-left"
                                   placeholder="tags, separated by commas" ng-model="formDataMedia.tags"/>
                            <!-- STORED ... IN CLOUDINARY? -->
                            <select name="storedSelect" id="storedSelect"
                                    class="form-control input-lg text-left" ng-model="formDataMedia.stored">
                                  <option value="">---Please select store---</option>
                                  <option value="true">Store in Cloudinary</option>
                                  <option value="false">Use remote URL (youtube ...)</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /MULTIMEDIA FORM  -->
</div>
<br />
