<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoftCare.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppName" value="SoftCare Client App" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="URL.SOAP.WS.StorageComponent" value="http://ehealthws.95.211.172.243.xip.io/StorageComponent?wsdl" />
    <add key="URL.Rest.WS.MultimediaRepo" value="http://localhost:8081" />
    <add key="URL.Forum" value="http://softcare-forum.95.211.172.243.xip.io/" />
    <add key="URL.Rest.WS.Main" value="http://localhost:8080/softcare-gui" />
  </appSettings>
  <userSettings>
    <SoftCare.ClientApplication.Properties.Settings>
      <setting name="UpdatesUri" serializeAs="String">
        <value>http://dev2.biomed.ntua.gr/aladdin/updates.xml</value>
      </setting>
      <setting name="OptionsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForumPage" serializeAs="String">
        <value>http://dafnis.atosorigin.es/DAFNI/Aladdin/home.php</value>
      </setting>
      <setting name="JustUpgraded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstInstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en_UK</value>
      </setting>
      <setting name="Aladdin_ClientApplication_thirdpartyService_ServicesComponentImplService"
        serializeAs="String">
        <value>http://e-health-ws-app-eu.herokuapp.com/ServicesComponent</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>E-Health Application</value>
      </setting>
      <setting name="Aladdin_ClientApplication_aladdinService_StorageComponentImplService"
        serializeAs="String">
        <value>http://ehealthws.95.211.172.243.xip.io/StorageComponent</value>
      </setting>
    </SoftCare.ClientApplication.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>